@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    box-sizing:border-box;
	font-family: "Poppins", sans-serif;
}

.menu{
    display: none;
}

.heads {
    background-color: rgb(218, 16, 16);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 15px 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

main {
    background-color: hsl(184, 88%, 51%);
}

.logo{
    color: #fff;
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-decoration: none;
    cursor: pointer;
}




.navitems{
    display: flex;
    align-items: center;
    
}

.navitems li{
    list-style: none;
    margin-left: 30px;
    
    
}

.navitems li a{
    text-decoration: none;
    color: #fff;
    
    
}


.navitems li a:hover{
    color: #000;
}

#kapat{
    display: none;
}


@media screen and (max-width:768px){
    .heads{
        padding: 15px 20px;
        margin: auto;
    }
    .logo{
        position: absolute;
    right: 27px;
    }
    .navitems{
        display: none;
    }
    .menu{
        display: block;
        font-size: 30px;
        cursor: pointer;
        text-decoration: none;
        color: #fff;
    }
    .menu:hover{
        color: #000000;
    }
    #hamburger{
        font-size: 40px;

    }
    #kapat{ 
        display: block;
        font-size: 40px;
        cursor: pointer;
        text-decoration: none;
        color: #fff;
        position: absolute;
        right: -45px;
        top: -24px;
    }

    #kapat:hover{
        color: #000000;
    }

    .navitems.active{
        background-color: black;
        z-index: 5;
        display: block;
        position: fixed;
        top: 0;
        left: 0;
        flex-direction: column;
        width: 60vw;
        text-align: center;
        height: 100vh;
        

    }
    .navitems li{
        margin: 40px 0;
    }

    .navitems li a:hover{
        color: #f11212;}
}


@media screen and (min-width: 768px) and (max-width: 933px){
    .heads{
        padding: 15px 130px;
        margin: auto;
    }
    .logo{
        position: absolute;
    right: 130px;
    text-decoration: none;
    }
    .navitems{
        display: none;
    }
    .menu{
        display: block;
        font-size: 30px;
        cursor: pointer;
        text-decoration: none;
        color: #fff;
    }
    .menu:hover{
        color: #e70f0f;
    }
    #hamburger{
        font-size: 40px;

    }
    #kapat{
        display: block;
        font-size: 40px;
        cursor: pointer;
        text-decoration: none;
        color: #fff;
        position: absolute;
        right: -45px;
        top: -24px;
    }

    .navitems.active{
        background-color: black;
        z-index: 5;
        display: block;
        position: fixed;
        top: 0;
        left: 0;
        flex-direction: column;
        width: 60vw;
        text-align: center;
        height: 100vh;
        

    }
    .navitems li{
        margin: 40px 0;
    }

    .navitems li a:hover{
        color: #f11212;
}
}
    




